header {
	height: 4.5em;
	background: #4CA2CD;
	color: white;
	border-bottom: initial;
}
header label.select {
	margin: .55em .75em .55em;
	top: -2px;
}
header .secciones {
	line-height: normal;
	color: inherit;
	font-family: 'Duplicate Sans bold', sans-serif;
	font-size: 1.15em;
	padding-top: .55em;
	min-width: 405px;
	position: absolute;
	left: inherit;
}

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
	-webkit-font-smoothing: antialiased;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	outline: none;
}

body {
	letter-spacing: initial;
}


strong {
	font-family: 'Duplicate Sans Bold';
}

label.select.el-universal select,
.seccionbg.el-universal { background: #005383; }
label.select.politica select,
.seccionbg.politica { background: #ED251B; }
label.select.deportes select,
.seccionbg.deportes { background: #901FE8; }
label.select.nacional select,
.seccionbg.nacional { background: #32B56A; }
label.select.mundo select,
.seccionbg.mundo { background: #2D92C4; }
label.select.cultura select,
.seccionbg.cultura { background: #F4731C; }
label.select.ciudad select,
.seccionbg.ciudad { background: #5AC3BD; }
label.select.espectaculos select,
.seccionbg.espectaculos { background: #EEC833; }


select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0;
	font-size: inherit;
	padding: .3em 3em .35em 2.5em;
	display: inline-block;
	width: inherit;
	max-width: initial !important;
	border-color: white;
	background: transparent;
	color: white;
	margin: 0 !important;
	position: relative;
	z-index: 1;
	font: inherit;
}
select:focus {
	outline: none;
}
label.select:after {
	content: 'v';
	display: block;
	top: 1px;
	right: 1px;
	position: absolute;
	height: 1.85em;
	color: white;
	width: 2.5em;
	text-align: center;
	padding-top: .25em;
	border-left: 1px solid white;
	font-family: 'Duplicate Sans', sans-serif;
}
label.select {
	position: relative;
	display: inline-block;
	margin: 0 1em;
}
button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: transparent;
	border: 1px solid white;
	font: inherit;
	color: inherit;
	border-radius: 2em;
	padding: .1em 1.5em .2em 1.5em;
	margin: .5em .25em;
	position: relative;
	top: -1px;
	-webkit-transition: background .25s, color .25s; /* Safari */
	transition: background .25s, color .25s;
	cursor: pointer;
}
button:hover {
    background: rgba(255,255,255,0.75);
    color: #4CA2CD;
}
button:active {
    background: white;
    font-family: 'Duplicate Sans Bold';
}
.orderby {
	font-size: 1.15em;
	padding-top: .55em;
	position: absolute;
	opacity: 0;
}
button.active {
	background: white;
	color: #4CA2CD;
	font-weight: initial;
	font-family: 'Duplicate Sans Bold', sans-serif;
}
.home .orderby {}
.orderby {
	right: 2em;
}

@media (min-width:1000px) {
	.home .secciones {
		left: 2em !important;
		-webkit-transition: left .5s; /* Safari */
		transition: left .5s;
	}
    .home .orderby {
        opacity:1
    }
}
.orderby, .secciones {
	-webkit-transition: opacity .25s, right .5s, left .25s; /* Safari */
	transition: opacity .25s, right .5s, left .25s;
}


.portadas li .tema {
	font-size: 1.1em;
	font-weight: initial;
	line-height: normal;
	padding: .5em;
	overflow: hidden;
	min-height: 320px;
}
.portadas li .fecha {color: #8c8c8c;}
.portadas .tema-anio:before {
	background: none;
	border-left: 2px dashed #c6c6c6;
	margin: .5em auto;
}
.portadas .tema-anio {
	color: #8c8c8c;
	font-family: 'Duplicate Sans Bold';
}




footer {
	background: white;
	height: 3em;
	color: #8c8c8c;
	line-height: initial;
	padding-top: 1em;
}
footer a {color: #2d92c4;}
footer a.active {font-family: 'Duplicate Sans Bold';}
