
+font-face("Duplicate Sans Bold", font-files("duplicate_sans-bold.eot", "duplicate_sans-bold.ttf"))
+font-face("Duplicate Sans Light", font-files("duplicate_sans-light.eot", "duplicate_sans-light.ttf"))
+font-face("Duplicate Sans Regular", font-files("duplicate_sans-regular.eot", "duplicate_sans-regular.ttf"))

.duplicateBold
	font-family: 'Duplicate Sans Bold', sans-serif
.duplicateMedium
	font-family: 'Duplicate Sans Light', sans-serif
.duplicateRegular
	font-family: 'Duplicate Sans Regular', sans-serif


// * Colores


// Applied Colors

$eluniversal: #005383
$politica: #ED251B
$deportes: #901FE8
$nacional: #32B56A
$mundo: #2D92C4
$cultura: #F4731C
$ciudad: #5AC3BD
$espectaculos: #EEC833

// $lightGray:
$gray: #8c8c8c
$bgGray: #d9d9d9
$lightGray: #c6c6c6
// $darkGray:
// $black:
$lightBlue: #4CA2CD
// $universalBlue: #005383


.seccionbg
	color: white
	background: #bbb
label.select.el-universal select,
.el-universal .seccionbg,
.el-universal.seccionbg,
.el-universal header label.select,
.el-universal section.estadisticas > ul li,
.el-universal .tabs-nav > a.is-active
	background: $eluniversal
label.select.politica select,
.politica .seccionbg,
.politica.seccionbg,
.politica header label.select,
.politica section.estadisticas > ul li,
.politica .tabs-nav > a.is-active
	background: $politica
label.select.deportes select,
.deportes .seccionbg,
.deportes.seccionbg,
.deportes header label.select,
.deportes section.estadisticas > ul li,
.deportes .tabs-nav > a.is-active
	background: $deportes
label.select.nacional select,
.nacional .seccionbg,
.nacional.seccionbg,
.nacional header label.select,
.nacional section.estadisticas > ul li,
.nacional .tabs-nav > a.is-active
	background: $nacional
label.select.mundo select,
.mundo .seccionbg,
.mundo.seccionbg,
.mundo header label.select,
.mundo section.estadisticas > ul li,
.mundo .tabs-nav > a.is-active
	background: $mundo
label.select.cultura select,
.cultura .seccionbg,
.cultura.seccionbg,
.cultura header label.select,
.cultura section.estadisticas > ul li,
.cultura .tabs-nav > a.is-active
	background: $cultura
label.select.ciudad select,
.ciudad .seccionbg,
.ciudad.seccionbg,
.ciudad header label.select,
.ciudad section.estadisticas > ul li,
.ciudad .tabs-nav > a.is-active
	background: $ciudad
label.select.espectaculos select,
.espectaculos .seccionbg,
.espectaculos.seccionbg,
.espectaculos header label.select,
.espectaculos section.estadisticas > ul li,
.espectaculos .tabs-nav > a.is-active
	background: $espectaculos


.tabs-nav > a
	background: white
.tabs-nav > a.is-active
	color: white !important
.el-universal .tabs-nav > a
	color: $eluniversal
.politica .tabs-nav > a
	color: $politica
.deportes .tabs-nav > a
	color: $deportes
.nacional .tabs-nav > a
	color: $nacional
.mundo .tabs-nav > a
	color: $mundo
.cultura .tabs-nav > a
	color: $cultura
.ciudad .tabs-nav > a
	color: $ciudad
.espectaculos .tabs-nav > a
	color: $espectaculos



// }
// .seccionbg.el-universal,
// .seccionbg.politica,
// .seccionbg.nacional,
// .seccionbg.nacion,
// .seccionbg.mundo,
// .seccionbg.estados,
// .seccionbg.periodismo-de-datos,
// .seccionbg-periodismo-de-investigacion
//     background: #005383
//
// .seccionbg.ciudad,
// .seccionbg.metropoli
//     background: #8a9541
//
// .seccionbg.cartera
//     background: #8a9541
// .seccionbg.deportes
//     background: #e23c35
// .seccionbg.espectaculos,
// .seccionbg.cultura
//     background: #ff3d66
//
// .seccionbg.ciencia-y-salud,
// .seccionbg.techbit,
// .seccionbg.menu,
// .seccionbg.de-ultima,
// .seccionbg.destinos,
// .seccionbg.autopistas
// 	background: #7d77b8
//
// .fechas,
// .fechas.tabs-nav-link.is-active
// 	background-color: #2fab66
//
// .tematica,
// .tematica.tabs-nav-link.is-active
// 	background-color: #dc443c
//
// .sentimientos,
// .sentimientos.tabs-nav-link.is-active
// 	background-color: #e47732
// .lugares,
// .lugares.tabs-nav-link.is-active
// 	background-color: #efc833
//
// .hechos,
// .hechos.tabs-nav-link.is-active
// 	background-color: #2d92c4
//
// .personajes,
// .personajes.tabs-nav-link.is-active
// 	background-color: #5dbcb0









//
//
//
// Mixins

=absolute($to: null, $ri: null, $bo: null, $le: null, $zi: null)
	position: absolute
	top: $to
	right: $ri
	bottom: $bo
	left: $le
	z-index: $zi

=relative($to: null, $ri: null, $bo: null, $le: null, $zi: null)
	position: relative
	top: $to
	right: $ri
	bottom: $bo
	left: $le
	z-index: $zi

=fixed($to: null, $ri: null, $bo: null, $le: null, $zi: null)
	position: fixed
	top: $to
	right: $ri
	bottom: $bo
	left: $le
	z-index: $zi




//
//
//
// Extended Reset

*, *:before, *:after
	+box-sizing(border-box)
	-webkit-font-smoothing: antialiased
	text-shadow: rgba(0,0,0,.01) 0 0 1px
	outline: none

strong
	font-family: 'Duplicate Sans Bold', sans-serif

a
	text-decoration: none
	color: initial

button, select
	appearance: none
	+appearance(none)

text
	font-family: 'Duplicate Sans Light'
	text-align: center
