//
//
//
// Detalles (contenedor de Single)
.intro-fijo
	font-family: 'Duplicate Sans Light', sans-serif
	font-size: 2em
	margin-bottom: 1em

.detalle
	section.seccionbg
		padding-top: 5.5em
	section
		margin-bottom: 4%
		overflow: hidden
		padding: 0 5% 0
		line-height: normal
		.info
			font-size: .75em
			margin-top: 2em
			margin-bottom: .5em
		.titulo
			font-size: 4.5em
			margin-bottom: .5em
	.imagen-detalle
		width: 10em
		overflow: hidden
		float: left
		margin-right: 1.25em
		img
			display: block
	.resumen
		font-family: 'Duplicate Sans Light', sans-serif
		border-top: 1px solid white
		padding-top: 20px
		margin-top: -1px
		font-size: 1.25em
	.estadisticas
		margin-bottom: 8%
		ul
			display: flex
			justify-content: space-between
			flex-wrap: wrap
		li
			list-style: none
			width: 31%
			margin: 20px 0
			height: 200px
			&:nth-child(2),
			&:nth-child(5)
				margin: 20px 3%
		a
			font-size: 1.5rem
			color: #fff
			margin-left: 10%
			line-height: 200px
			display: block

.graph-caption
	font-family: 'Duplicate Sans Light', sans-serif
	background: white
	padding: 1em 1.5em
	margin: 1em 0
	width: 100%
