//
//
//
// Style Basic Elements

body
	background: $bgGray
	font-family: 'Duplicate Sans Regular', sans-serif
	font-size: 16px
// img
// 	width: 100%
// i
// 	margin: 0 8px
// 	font-size: 24px

select
	+relative($zi:1)
	+border-radius(0)
	font: inherit
	padding: .3em 4em .35em 2.5em
	display: inline-block
	width: inherit
	max-width: initial !important
	border-color: white
	background: transparent
	color: white
	text-align-last: center
	&:focus
		outline: none

label.select
	position: relative
	display: inline-block
	margin: 0 1em
	&:after
		content: 'v'
		display: block
		+absolute($to: 0, $ri: 0)
		height: 100%
		color: white
		width: 2.5em
		text-align: center
		padding-top: .25em
		border-left: 1px solid white
		font-family: 'Duplicate Sans', sans-serif

button
	background: transparent
	border: 1px solid white
	font: inherit
	color: inherit
	border-radius: 2em
	padding: .3em 1.5em .35em 1.5em
	margin: .55em .25em
	+relative($to: -1px)
	cursor: pointer
	&:hover
		background: rgba(255,255,255,0.75)
		color: $lightBlue
	&:active, &.active
		background: white
		font-family: 'Duplicate Sans Bold'
		background: white
		color: $lightBlue

.hidden
	display: none
// .center
// 	text-align: center
// .active
// 	font-weight: bold







//
//
//
// Header

header
	+fixed($to: 0, $le: 0, $ri: 0, $zi: 100)
	display: flex
	justify-content: space-around
	overflow: hidden
	height: 4.5em
	background: $lightBlue
	color: white
	.secciones
		line-height: normal
		vertical-align: middle
		font-family: 'Duplicate Sans bold', sans-serif
		font-size: 1.15em
		padding-top: .55em
		min-width: 405px
		position: absolute
		span
			font-weight: bold
	.nav
		width: 40%
		position: relative
		a
			color: white
			font-size: .75em
			&:before
				top: 1.75em
		i
			font-size: 40px
			vertical-align: top
			margin-top: 7px
	.prev
		a:before
			left: -3em
			@media (max-width: 768px)
				left: -1em
		.thumb
			float: left
			margin-right: 10px
	.next
		text-align: right
		a:before
			right: -3em
			// transform: rotate(180deg)
			@media (max-width: 768px)
				right: -1em
		.thumb
			float: right
			margin-left: 10px
	.tema
		display: inline-block
		max-width: 8em
		@media (max-width: 768px)
			display: none
		// width: calc(100% - 60px)
		span
			margin: 1.75em 0 .25em
			display: block
		p
			+ellipsis()
		.thumb
			width: 6em
			overflow: hidden
			display: none
			img
				width: 100%
				height: auto
		@media (min-width: 1000px)
			max-width: initial
			.thumb
				display: block
	// .info
	// 	display: inline-block
	// 	vertical-align: bottom
	// 	max-width: 65%
	// 	text-align: right
	label.select
		margin: .55em .75em .55em
		top: -2px


a.arrow:before
	content: ' '
	background: url(../img/nav_arr.svg)
	background-size: cover
	width: 2.5em
	height: 2.5em
	+absolute()
.next a.arrow:before
	transform: rotate(180deg)
footer a.arrow:before
	width: 1.5em
	height: 1.5em
	display: inline-block
	position: relative
	vertical-align: middle
	margin-right: .5em


.orderby
	+absolute($to: .15em, $ri: 2em)
	font-size: 1.15em
	padding-top: .55em
	opacity: 0


.home
	@media (min-width: 1000px)
		.secciones
			left: 2em !important
		.orderby
			opacity: 1





//
//
//
// Footer

footer
	+fixed ($bo: 0, $le: 0, $ri: 0)
	background: white
	height: 3em
	color: $gray
	padding-top: 1em
	a
		color: $lightBlue
		&.active
			font-family: 'Duplicate Sans Bold'
		&.rethome
			+relative($to: -.25em)
			color: inherit
	.inicio
		margin: 0 4%
	.anios ul
		display: flex
		margin: auto
		max-width: 75%
		justify-content: space-between
		li
			display: inline-block
			font-size:  0.875rem





//
//
//
// Breadcrumbs


.breadcrumbs
	color: white
	padding: 1em 5% 1.05em
	margin-top: 4.5em
	a
		font-family: 'Duplicate Sans Bold'
		color: white
		&:hover
			text-decoration: underline
