
//
//
//
// Tabs Component

	// Makes TABS work
.c-tab
	display: none
	margin: 4em 0
	&.is-active
		display: block

	// Tabs no-js fallback
.tabs.no-js .tabs-nav
	display: none

.tabs.no-js .c-tab
	display: block
	margin-bottom: 1.5em
	&:last-child
		margin-bottom: 0






	// Upper Tab Buttons
.tabs-nav
	display: -webkit-box
	display: -webkit-flex
	display: -ms-flexbox
	display: flex
	margin-top: 1em
	> a.is-active:before
		content: '↓'
		margin-right: .75em
		margin-left: -.75em

.tabs-nav-link
	-webkit-box-flex: 1
	-webkit-flex: 1
	-ms-flex: 1
	flex: 1
	margin-right: 1em
	padding: .5em 0 .65em
	text-align: center
	border-radius: 2em
	+relative()
	&:last-child
		margin-right: 0








// Tables

.tabla
	margin: 2em 0 4em
	&.bars
		.bar
			background: #d6d6d6
			width: 90%
			height: 1em
			float: right
			> div
				background: white
				height: 1em
		.tabla-celda span
			width: 10%
			display: inline-block


.tabla-cuerpo,
.tabla-pie,
.tabla-fila
	clear: both
.tabla-fila
	display: flex


.tabla-cabeza,
.tabla-celda
	padding: 1em 1.8%
	width: 100%
	&:last-child
		border-right: none
.tabla-celda
	border-right: 1px solid $bgGray
	border-bottom: 1px solid $bgGray
	background: white
.tabla-cabeza
	border-right: 1px solid $bgGray
	border-bottom: 1px solid $bgGray
	color: white








//
//
//
// Estadisticas

.estadisticas
	section
		padding: 1em 5% 1.05em

.lista-personajes
	ul
		display: -webkit-box
		display: -webkit-flex
		display: flex
		justify-content: flex-start
		flex-wrap: wrap
		margin: 2em -1em 4em
		counter-reset: item
		list-style-type: none
	li
		margin: 0 1em 2em
		background: white
		width: 14em
		position: relative
		&::before
			content: counter(item) "  "
			counter-increment: item
			position: absolute
			width: 2em
			height: 2em
			text-align: center
			padding-top: .44em
			top: 1em
			left: 1em
			color: white
	.imagen
		min-height: 3em
		img
			width: 100%
			&[src=""],
			&[src="http://aniversario100.eluniversal.com.mx/"]
				display: none
	.info
		font-family: 'Duplicate Sans Light', sans-serif
		padding: 1em
		.nombre
			font-size: 1.2em
			font-family: 'Duplicate Sans Regular'
			margin-bottom: 1em
	.meta
		background: white
		position: absolute
		bottom: -2.75em
		width: 100%
		left: 0
		padding: .5em 1em
		font-size: .75em
		a
			color: $gray







//
//
//
// Color

.el-universal .tabla-cabeza,
.el-universal .lista-personajes ul li::before,
.el-universal .tabla.bars .bar > div
	@extend .el-universal.seccionbg
.politica .tabla-cabeza,
.politica .lista-personajes ul li::before,
.politica .tabla.bars .bar > div
	@extend .politica.seccionbg
.deportes .tabla-cabeza,
.deportes .lista-personajes ul li::before,
.deportes .tabla.bars .bar > div
	@extend .deportes.seccionbg
.nacional .tabla-cabeza,
.nacional .lista-personajes ul li::before,
.nacional .tabla.bars .bar > div
	@extend .nacional.seccionbg
.mundo .tabla-cabeza,
.mundo .lista-personajes ul li::before,
.mundo .tabla.bars .bar > div
	@extend .mundo.seccionbg
.ciudad .tabla-cabeza,
.ciudad .lista-personajes ul li::before,
.ciudad .tabla.bars .bar > div
	@extend .ciudad.seccionbg
.cultura .tabla-cabeza,
.cultura .lista-personajes ul li::before,
.cultura .tabla.bars .bar > div
	@extend .cultura.seccionbg
.espectaculos .tabla-cabeza,
.espectaculos .lista-personajes ul li::before,
.espectaculos .tabla.bars .bar > div
	@extend .espectaculos.seccionbg
