section.linea-tiempo
	overflow-x: scroll
	overflow-y: hidden
	-webkit-overflow-scrolling: touch
	white-space: nowrap
	height: 100vh
	article
		position: relative
		display: inline-block
	.anio
		+absolute($le: .6em, $to: 12%)
		font-family: 'Duplicate Sans Light', sans-serif
		color: $lightGray
		font-size: 7.5rem
	ul.portadas::-webkit-scrollbar
		display: none




ul.portadas
	position: relative
	margin-top: 20vh
	margin-left: 10vw
	li
		width: 240px
		cursor: pointer
		display: inline-block
		// *display:inline;/* For IE7*/
		// *zoom:1;/* For IE7*/
		vertical-align: top
		margin-right: 4vh
		.tema, .fecha, .seccion
			padding: .5em .5em .6em
			margin: .5em 0
			font-size: .875em
		.tema
			background: white
			height: 40vh
			font-size: 1.1em
			line-height: normal
			padding: .5em
			overflow: hidden
			min-height: 320px
			.titulo
				white-space: initial
				margin-top: 10px
			.imagen
				height: 220px
				overflow: hidden
				img
					width: 100%
			@media (max-height: 500px)
				min-height: 210px
				.imagen
					height: 120px
		.fecha
			background: white
			color: $gray
		.seccion
			font-family: 'Duplicate Sans Bold'
	.tema-anio
		color: $gray
		font-family: 'Duplicate Sans Bold'
		text-align: center
		font-size:  0.875em
		&:before
			content: ' '
			background: none
			width: 2px
			height: 5vh
			display: block
			border-left: 2px dashed $lightGray
			margin: .5em auto
