html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
  display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
    color: #000;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

input, select {
    vertical-align:middle;
}


/*inician estilos aniversario*/
@font-face {
  font-family: 'Duplicate Sans Bold';
  src: url('../fonts/duplicate_sans-bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/duplicate_sans-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/duplicate_sans-bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/duplicate_sans-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/duplicate_sans-bold.svg') format('svg'); /* Legacy iOS */
  font-style:   normal;
}
@font-face {
  font-family: 'Duplicate Sans Light';
  src: url('../fonts/duplicate_sans-light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/duplicate_sans-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/duplicate_sans-light.woff') format('woff'), /* Modern Browsers */
       url('../fonts/duplicate_sans-light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/duplicate_sans-light.svg') format('svg'); /* Legacy iOS */
  font-style:   normal;
}
@font-face {
  font-family: 'Duplicate Sans Regular';
  src: url('../fonts/duplicate_sans-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/duplicate_sans-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/duplicate_sans-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/duplicate_sans-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/duplicate_sans-regular.svg') format('svg'); /* Legacy iOS */
  font-style:   normal;
}

.duplicateBold{
  font-family: 'Duplicate Sans Bold', sans-serif;
}
.duplicateMedium{
  font-family: 'Duplicate Sans Light', sans-serif;
}
.duplicateRegular{
  font-family: 'Duplicate Sans Regular', sans-serif;
}
/*colores*/
.seccionbg{
    color: #fff;
    background: #bbb;
}
.seccionbg.el-universal,
.seccionbg.politica,
.seccionbg.nacional,
.seccionbg.nacion,
.seccionbg.mundo,
.seccionbg.estados,
.seccionbg.periodismo-de-datos,
.seccionbg-periodismo-de-investigacion{
    background: #005383;
}
.seccionbg.ciudad,
.seccionbg.metropoli{
    background: #8a9541;
}
.seccionbg.cartera{
    background: #8a9541;
}
.seccionbg.deportes{
    background: #e23c35;
}
.seccionbg.espectaculos,
.seccionbg.cultura{
    background: #ff3d66;
}
.seccionbg.ciencia-y-salud,
.seccionbg.techbit,
.seccionbg.menu,
.seccionbg.de-ultima,
.seccionbg.destinos,
.seccionbg.autopistas{
    background: #7d77b8;
}
.fechas,
.fechas.tabs-nav-link.is-active{
    background-color: #2fab66;
}
.tematica,
.tematica.tabs-nav-link.is-active{
    background-color: #dc443c;
}
.sentimientos,
.sentimientos.tabs-nav-link.is-active{
    background-color: #e47732;
}
.lugares,
.lugares.tabs-nav-link.is-active{
    background-color: #efc833;
}
.hechos,
.hechos.tabs-nav-link.is-active{
    background-color: #2d92c4;
}
.personajes,
.personajes.tabs-nav-link.is-active{
    background-color: #5dbcb0;
}

.hidden{
    display: none;
}
.center{
    text-align: center;
}
.active{
    font-weight: bold;
}
body{
  background: #d9d9d9;
  font-family: 'Duplicate Sans Regular', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: .05rem;
}
img{
  width: 100%;
}
i{
    margin: 0 8px;
    font-size: 24px;
}

header, footer{
  background: #e7e7e7;
  height: 7vh;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 2px solid #cbcbcb;
    display: flex;
    justify-content: space-around;
    font-size: 0.875rem;
    overflow: hidden;
}
/*header select secciones*/
header .secciones{
  line-height: 7vh;
  vertical-align: middle;
  color: #000;
}
header .secciones select{
    margin: 0 10px;
    max-width: 120px;
}
/*header texto que acompaña al select*/
header .secciones span{
    font-weight: bold;
}


header .tema{
    display: inline-block;
    width: calc(100% - 60px);
}
header .info{
    display: inline-block;
    vertical-align: bottom;
    max-width: 65%;
}
/*miniaturas de temas prev next*/
header .thumb{
    height: 60px;
    width: 60px;
    overflow: hidden;    
}
header .prev{
  width: 25%;
  margin-left: -30px;
}
header .prev .thumb{
  float: left;
  margin-right: 10px;
}
header .next{
  width: 25%;
  margin-right: -30px;
  text-align: right;
}
header .next .thumb{
  float: right;
  margin-left: 10px;
}
header .prev a,
header .next a{
  color: #919191;
  font-size: 0.750rem;
}
header .prev i,
header .next i{
  font-size: 40px;
  vertical-align: top;
  margin-top: 7px;
}
}
header .prev .thumb{
    float: left;
    margin-right: 10px;
}
header .next .thumb{
    float: right;
    margin-left: 10px;
}
header .next .info{
  text-align: right;
}


/*timeline*/
section.linea-tiempo{
  height: 85vh;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  margin-top: 6vh;
}
/* section.linea-tiempo .scroll{
  width: 320px;
  position:absolute;
  top:6vh;
  left:0px;
} */
.linea-tiempo article{
    display: inline-block;
}
.linea-tiempo .anio{
   font-family: 'Duplicate Sans Light', sans-serif;
  color: #c6c6c6;
  font-size: 7.5rem;
  line-height: 1;
  font-weight: 300;
  margin-left: 5vw;
}

.linea-tiempo ul.portadas{
  margin-top: -5vh;
    margin-left: 10vw;
  
}
.linea-tiempo ul.portadas::-webkit-scrollbar {
    display: none;
}
.portadas li{
  /* max-width: 20%; */
    width: 240px;
    cursor: pointer;
    display:inline-block;
    *display:inline;/* For IE7*/
    *zoom:1;/* For IE7*/
    vertical-align:top;
    margin-right: 4vh;
}
.portadas li .fecha,
.portadas li .tema{
  background: #fff;
  padding: 10px 10px 12px 10px;
  margin: 10px 0;

}
.portadas li .seccion{
    font-family: 'Duplicate Sans Bold', sans-serif;
    padding: 10px 10px 12px 10px;
    margin: 10px 0;
    font-weight: 700;
    font-size:  0.875rem;
    line-height: 1;
}
.portadas li .fecha{
  color: #adadad;
  font-size:  0.875rem;
  line-height: 1;
}
.portadas li .tema{
  font-family: 'Duplicate Sans Regular', sans-serif;
  height: 40vh;
  font-size:  0.875rem;
  font-weight: 700;
  line-height: 1.2;
}
.portadas li .tema .titulo{
  white-space:initial;
    margin-top: 10px;
}
.portadas li .tema .imagen{
    height: 220px;
    overflow: hidden;
}
.portadas .tema-anio{
  color: #b4b4b4;
  text-align: center;
  font-size:  0.875rem;
}
.portadas .tema-anio:before{
  content: ' ';
  background: url('../images/dot.jpg');
  width: 2px;
  height: 5vh;
  display: block;
  margin: auto;
}




/*detalles*/
.intro-fijo{
  font-size: 2rem;
  line-height: 1.25;
  padding: 32px 0;
}
.detalle section{
    padding: 0 4%;
    margin-bottom: 4%;
    overflow: hidden;
}
.detalle .seccion{
    padding: 4vh 4% 0;
}
.detalle .seccion .info{
    color: #fff;
    margin-top: 30px;
    margin-bottom: 10px;
}
.detalle .seccion .info i{
    font-size: 12px;
    position: relative;
}
.detalle .seccion .info i:before{
  font-size: 6px;
  position: absolute;
  top: -8px;
}
.detalle .seccion .titulo{
    font-size: 4.5rem;
    line-height: 1;
    color: #000;
    margin-bottom: 40px;
    font-weight: 400;
}
.detalle .imagen-detalle{
    width: 160px;
    height: 95px;
    overflow: hidden;
    float: left;
    margin-right: 20px;
}
.detalle .resumen{
  border-top: 1px solid;
  border-color: rgba(0, 0, 0, .25); 
  color: rgba(0, 0, 0, .9);
  padding-top: 20px;
  margin-top: -1px;
  letter-spacing: .07rem;
  font-size: 1.313rem;
  line-height: 1.25;
  font-family: 'Duplicate Sans Light', sans-serif;
}
.detalle .estadisticas{
  margin-bottom: 8%;
}
.detalle .estadisticas ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.detalle .estadisticas li{
    list-style: none;
    width: 31%;
    margin: 20px 0;
    height: 200px;
}
.detalle .estadisticas li:nth-child(2),
.detalle .estadisticas li:nth-child(5){
    margin: 20px 3%;
}
.detalle .estadisticas a{
  font-size: 1.5rem;
    color: #fff;
    margin-left: 10%;
    line-height: 200px;
    display: block;
}
/* detalle estadisticas */
.estadisticas section{
    padding: 0 4%;
    margin-bottom: 4%;
    overflow: hidden;
}
.estadisticas section.tema{
    color: #fff;
    padding: 10px 4%;
    margin-top: 7vh;
}
.estadisticas section.tema h1{
    font-weight: normal;
}
.estadisticas section.tema h1 a{
  color: #fff;
}
.estadisticas .lista-personajes ul{
  display: -webkit-box; 
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: -10px;
}
.estadisticas .lista-personajes li{
  list-style: none;
  margin: 0 12px 34px 12px;
  background: #fff;
}
.estadisticas .lista-personajes li .lista-datos{
  background: #fff;
  height: calc(100% - 48px);
  position: relative;
}
.estadisticas .lista-personajes li .lista-datos:after{
  clear: both;
  content: '';

}
.estadisticas .lista-personajes .info{
  padding: 17px;
  bottom: 0;
}
.estadisticas .lista-personajes .info .nombre{
  font-size: 1.2rem;
}
.estadisticas .lista-personajes .lista-link{
  padding: 10px;
  margin: 10px 0 0;
  font-weight: 700;
  font-size: 0.875rem;
  background: #fff;
}

.detalle-scroll{
  height: 345px;
  overflow: scroll;
  padding: 0 40px;
}

/*estilos tablas*/
.tabla {     
  display: block;
  width: 100%;
} 
.tabla-body{
  overflow: scroll;
  height: 295px; 
}
.tabla-cuerpo, 
.tabla-pie, 
.tabla-fila{    
  clear: both; 
} 
.tabla-fila{
  display: flex;
}
.tabla-cabeza, 
.tabla-pie{   
  background-color: #bbc2c6;     
  font-weight: bold; 
} 
.tabla-celda, 
.tabla-cabeza{     
  border: 1px solid #999999;    
  float: left;    
  height: 17px;     
  overflow: hidden;     
  padding: 15px 1.8%;    
  width: 100%;
} 
.tabla:after {     
  visibility: hidden;     
  display: block;     
  font-size: 0;     
  content: " ";     
  clear: both;    
  height: 0; 
}



/* -----------------------------------------------------------------------------

  TABS COMPONENT
  
----------------------------------------------------------------------------- */
.tabs {
  /**/
}

/**  * Tabs navigation  */
.tabs-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tabs-nav-link {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 4px;
  padding: 6px 12px;
  color: #fff;
  background-color: #bbc2c6;
  text-align: center;
  -webkit-transition: color 0.3s;
          transition: color 0.3s;
          border-radius: 50px;
}

.tabs-nav-link:last-child {
  margin-right: 0;
}


.tabs-nav-link span {
  line-height: 1;
}

.tabs-nav-link span {
  font-size: 18px;
}
.tabs-nav-link.is-active{
  font-family: 
}

/** * Tab  */
.c-tab {
  display: none;
}

.c-tab.is-active {
  display: block;
}

.c-tab-content {
  padding: 1.5rem;
}

/**  * Tabs no-js fallback */
.tabs.no-js .tabs-nav {
  display: none;
}

.tabs.no-js .c-tab {
  display: block;
  margin-bottom: 1.5rem;
}

.tabs.no-js .c-tab:last-child {
  margin-bottom: 0;
}

footer{
  line-height: 7vh;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
footer .inicio{
  margin: 0 4%;
}
footer .anios ul{
    display: flex;
    margin: auto;
    max-width: 75%;
    justify-content: space-between;
}
footer .anios li{
  display: inline-block;
  font-size:  0.875rem;
}

@media only screen and (min-width : 739px){
  .estadisticas .lista-personajes li{
    max-width: 22%;
  }
}