@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: "Duplicate Sans Bold";
  src: url('../fonts/duplicate_sans-bold.eot?1471451949') format('embedded-opentype'), url('../fonts/duplicate_sans-bold.ttf?1471451998') format('truetype'); }
@font-face {
  font-family: "Duplicate Sans Light";
  src: url('../fonts/duplicate_sans-light.eot?1471452187') format('embedded-opentype'), url('../fonts/duplicate_sans-light.ttf?1471452193') format('truetype'); }
@font-face {
  font-family: "Duplicate Sans Regular";
  src: url('../fonts/duplicate_sans-regular.eot?1471452202') format('embedded-opentype'), url('../fonts/duplicate_sans-regular.ttf?1471452207') format('truetype'); }
.duplicateBold {
  font-family: "Duplicate Sans Bold", sans-serif; }

.duplicateMedium {
  font-family: "Duplicate Sans Light", sans-serif; }

.duplicateRegular {
  font-family: "Duplicate Sans Regular", sans-serif; }

.seccionbg {
  color: white;
  background: #bbb; }

label.select.el-universal select,
.el-universal .seccionbg,
.el-universal.seccionbg,
.el-universal thead,
.el-universal .tabla-cabeza,
.el-universal .lista-personajes ul li::before,
.el-universal .tabla.bars .bar > div,
.el-universal header label.select,
.el-universal section.estadisticas > ul li,
.el-universal .tabs-nav > a.is-active {
  background: #005383; }

label.select.politica select,
.politica .seccionbg,
.politica.seccionbg,
.politica thead,
.politica .tabla-cabeza,
.politica .lista-personajes ul li::before,
.politica .tabla.bars .bar > div,
.politica header label.select,
.politica section.estadisticas > ul li,
.politica .tabs-nav > a.is-active {
  background: #ED251B; }

label.select.deportes select,
.deportes .seccionbg,
.deportes.seccionbg,
.deportes thead,
.deportes .tabla-cabeza,
.deportes .lista-personajes ul li::before,
.deportes .tabla.bars .bar > div,
.deportes header label.select,
.deportes section.estadisticas > ul li,
.deportes .tabs-nav > a.is-active {
  background: #901FE8; }

label.select.nacional select,
.nacional .seccionbg,
.nacional.seccionbg,
.nacional thead,
.nacional .tabla-cabeza,
.nacional .lista-personajes ul li::before,
.nacional .tabla.bars .bar > div,
.nacional header label.select,
.nacional section.estadisticas > ul li,
.nacional .tabs-nav > a.is-active {
  background: #32B56A; }

label.select.mundo select,
.mundo .seccionbg,
.mundo.seccionbg,
.mundo thead,
.mundo .tabla-cabeza,
.mundo .lista-personajes ul li::before,
.mundo .tabla.bars .bar > div,
.mundo header label.select,
.mundo section.estadisticas > ul li,
.mundo .tabs-nav > a.is-active {
  background: #2D92C4; }

label.select.cultura select,
.cultura .seccionbg,
.cultura.seccionbg,
.cultura thead,
.cultura .tabla-cabeza,
.cultura .lista-personajes ul li::before,
.cultura .tabla.bars .bar > div,
.cultura header label.select,
.cultura section.estadisticas > ul li,
.cultura .tabs-nav > a.is-active {
  background: #F4731C; }

label.select.ciudad select,
.ciudad .seccionbg,
.ciudad.seccionbg,
.ciudad thead,
.ciudad .tabla-cabeza,
.ciudad .lista-personajes ul li::before,
.ciudad .tabla.bars .bar > div,
.ciudad header label.select,
.ciudad section.estadisticas > ul li,
.ciudad .tabs-nav > a.is-active {
  background: #5AC3BD; }

label.select.espectaculos select,
.espectaculos .seccionbg,
.espectaculos.seccionbg,
.espectaculos thead,
.espectaculos .tabla-cabeza,
.espectaculos .lista-personajes ul li::before,
.espectaculos .tabla.bars .bar > div,
.espectaculos header label.select,
.espectaculos section.estadisticas > ul li,
.espectaculos .tabs-nav > a.is-active {
  background: #EEC833; }

.fa-circle:before{
  font-size: .5em;
  vertical-align: middle;
}
.tabs-nav > a {
  background: white; }

.tabs-nav > a.is-active {
  color: white !important; }

.el-universal .seccionc,
.el-universal .tabs-nav > a {
  color: #005383; }

.politica .seccionc,
.politica .tabs-nav > a {
  color: #ED251B; }

.deportes .seccionc,
.deportes .tabs-nav > a {
  color: #901FE8; }

.nacional .seccionc,
.nacional .tabs-nav > a {
  color: #32B56A; }

.mundo .seccionc,
.mundo .tabs-nav > a {
  color: #2D92C4; }

.cultura .seccionc,
.cultura .tabs-nav > a {
  color: #F4731C; }

.ciudad .seccionc,
.ciudad .tabs-nav > a {
  color: #5AC3BD; }

.espectaculos .seccionc,
.espectaculos .tabs-nav > a {
  color: #EEC833; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  outline: none; }

strong {
  font-family: "Duplicate Sans Bold", sans-serif; }

a {
  text-decoration: none;
  color: initial; }

button, select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none; }

text {
  font-family: "Duplicate Sans Light";
  text-align: center; }

body {
  background: #d9d9d9;
  font-family: "Duplicate Sans Regular", sans-serif;
  font-size: 16px; }

select {
  position: relative;
  z-index: 1;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  font: inherit;
  padding: 0.3em 4em 0.35em 2.5em;
  display: inline-block;
  width: inherit;
  max-width: initial !important;
  border-color: white;
  background: transparent;
  color: white;
  text-align-last: center; }
  select:focus {
    outline: none; }
  select option{
    color: #8c8c8c;
  }

label.select {
  position: relative;
  display: inline-block;
  margin: 0 1em; }
  label.select:after {
    content: "v";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    color: white;
    width: 2.5em;
    text-align: center;
    padding-top: 0.25em;
    border-left: 1px solid white;
    font-family: "Duplicate Sans", sans-serif; }

button {
  background: transparent;
  border: 1px solid white;
  font: inherit;
  color: inherit;
  border-radius: 2em;
  padding: 0.3em 1.5em 0.35em 1.5em;
  margin: 0.55em 0.25em;
  position: relative;
  top: -1px;
  cursor: pointer; }
  button:hover {
    background: rgba(255, 255, 255, 0.75);
    color: #4CA2CD; }
  button:active, button.active {
    background: white;
    font-family: "Duplicate Sans Bold";
    background: white;
    color: #4CA2CD; }

.hidden {
  display: none; }

header {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  height: 4.5em;
  background: #4CA2CD;
  color: white; }
  header .secciones {
    line-height: normal;
    vertical-align: middle;
    font-family: "Duplicate Sans bold", sans-serif;
    font-size: 1.15em;
    padding-top: 0.55em;
    min-width: 510px;
    /* position: absolute; */ }
    header .secciones span {
      font-weight: bold; }
  header .nav {
    width: 40%;
    position: relative; }
    header .nav a {
      color: white;
      font-size: 0.75em; }
      header .nav a:before {
        top: 1.75em; }
    header .nav i {
      font-size: 40px;
      vertical-align: top;
      margin-top: 7px; }
  header .prev{
    margin-left: 50px;
  }
  header .prev a:before {
    left: -3em; }
    @media (max-width: 768px) {
      header .prev a:before {
        left: -1em; } }
  header .prev .thumb {
    float: left;
    margin-right: 10px; }
  header .next {
    text-align: right; 
    margin-right: 50px;}
    header .next a:before {
      right: -3em; }
      @media (max-width: 768px) {
        header .next a:before {
          right: -1em; } }
    header .next .thumb {
      float: right;
      margin-left: 10px; }
  header .tema {
    display: inline-block;
    max-width: 16em; }
    @media (max-width: 768px) {
      header .tema {
        display: none; } }
    header .tema span {
      margin: 1.75em 0 0.25em;
      display: block; }
    header .tema p {
      white-space: nowrap;
      overflow: hidden;
      -ms-text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis; }
    header .tema .thumb {
      width: 6em;
      overflow: hidden;
      display: none; }
      header .tema .thumb img {
        width: 100%;
        height: auto; }
    @media (min-width: 1000px) {
      header .tema {
        /* max-width: initial; */ }
        header .tema .thumb {
          display: block; } }
  header label.select {
    margin: 0.55em 0.75em 0.55em;
    top: -2px; }

a.arrow:before {
  content: " ";
  background: url(../img/nav_arr.svg);
  background-size: cover;
  width: 2.5em;
  height: 2.5em;
  position: absolute; }

.next a.arrow:before {
  transform: rotate(180deg); }

footer a.arrow:before {
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-right: 0.5em; }

.orderby {
  position: absolute;
  top: 0.15em;
  right: 2em;
  font-size: 1.15em;
  padding-top: 0.55em;
  opacity: 0; }

@media (min-width: 1000px) {
  .home .secciones {
    left: 2em !important; }
  .home .orderby {
    opacity: 1; } }

footer {
  position: fixed;
  z-index: 999;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  height: 3em;
  color: #8c8c8c;
  padding-top: 1em; }
  footer a {
    color: #4CA2CD; }
    footer a.active {
      font-family: "Duplicate Sans Bold"; }
    footer a.rethome {
      position: relative;
      top: -0.25em;
      color: inherit; }
  footer .inicio {
    margin: 0 4%; }
  footer .anios ul {
    display: flex;
    margin: auto;
    max-width: 75%;
    justify-content: space-between; }
    footer .anios ul li {
      display: inline-block;
      font-size: 1rem; }

.breadcrumbs {
  color: white;
  padding: 1em 5% 1.05em;
  margin-top: 4.5em; }
  .breadcrumbs a {
    font-family: "Duplicate Sans Bold";
    color: white; }
    .breadcrumbs a:hover {
      text-decoration: underline; }

.orderby, .secciones {
  -moz-transition: opacity 0.25s, right 0.5s, left 0.25s;
  -o-transition: opacity 0.25s, right 0.5s, left 0.25s;
  -webkit-transition: opacity 0.25s, right 0.5s, left 0.25s;
  transition: opacity 0.25s, right 0.5s, left 0.25s; }

button {
  -moz-transition: background 0.25s, color 0.25s;
  -o-transition: background 0.25s, color 0.25s;
  -webkit-transition: background 0.25s, color 0.25s;
  transition: background 0.25s, color 0.25s; }

.tabs-nav-link {
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  -webkit-transition: color 0.25s;
  transition: color 0.25s; }

section.linea-tiempo {
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  height: 99vh; }
  section.linea-tiempo article {
    position: relative;
    display: inline-block; }
  section.linea-tiempo .anio {
    position: absolute;
    top: 12%;
    left: 0.6em;
    font-family: "Duplicate Sans Light", sans-serif;
    color: #c6c6c6;
    font-size: 7.5rem; }
  section.linea-tiempo ul.portadas::-webkit-scrollbar {
    display: none; }

ul.portadas {
  position: relative;
  margin-top: 20vh;
  margin-left: 10vw; }
  ul.portadas li {
    width: 240px;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    margin-right: 4vh; }
    ul.portadas li .tema, ul.portadas li .fecha, ul.portadas li .seccion {
      padding: 0.5em 0.5em 0.6em;
      margin: 0.5em 0;
      font-size: 0.875em; }
    ul.portadas li .tema {
      background: white;
      height: 40vh;
      font-size: 1.1em;
      line-height: normal;
      padding: 0.5em;
      overflow: hidden;
      min-height: 320px; }
      ul.portadas li .tema .titulo {
        white-space: initial;
        margin-top: 10px; }
      ul.portadas li .tema .imagen {
        height: 220px;
        overflow: hidden; }
        ul.portadas li .tema .imagen img {
          width: 100%; }
      @media (max-height: 500px) {
        ul.portadas li .tema {
          min-height: 210px; }
          ul.portadas li .tema .imagen {
            height: 120px; } }
    ul.portadas li .fecha {
      background: white;
      color: #8c8c8c; }
    ul.portadas li .seccion {
      font-family: "Duplicate Sans Bold"; }
  ul.portadas .tema-anio {
    color: #8c8c8c;
    font-family: "Duplicate Sans Bold";
    text-align: center;
    font-size: 0.875em; }
    ul.portadas .tema-anio:before {
      content: " ";
      background: none;
      width: 2px;
      height: 5vh;
      display: block;
      border-left: 2px dashed #c6c6c6;
      margin: 0.5em auto; }

.intro-fijo {
  font-family: "Duplicate Sans Light", sans-serif;
  font-size: 2em;
  margin-bottom: 1em; }

.detalle section.seccionbg {
  padding-top: 5.5em; }
.detalle section {
  margin-bottom: 4%;
  overflow: hidden;
  padding: 0 5% 0;
  line-height: normal; }
  .detalle section .info {
    font-size: 0.75em;
    margin-top: 2em;
    margin-bottom: 0.5em; }
  .detalle section .titulo {
    font-size: 4.5em;
    margin-bottom: 0.5em; }
.detalle .imagen-detalle {
  width: 10em;
  overflow: hidden;
  float: left;
  margin-right: 1.25em; }
  .detalle .imagen-detalle img {
    display: block; }
.detalle .resumen {
  font-family: "Duplicate Sans Light", sans-serif;
  border-top: 1px solid white;
  padding-top: 20px;
  margin-top: -1px;
  font-size: 1.25em; }
.detalle .estadisticas {
  margin-bottom: 8%; }
  .detalle .estadisticas ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .detalle .estadisticas li {
    list-style: none;
    width: 22%;
    margin: 20px 0;
    height: 200px; }
    .detalle .estadisticas li:nth-child(1), 
    .detalle .estadisticas li:nth-child(2), 
    .detalle .estadisticas li:nth-child(3) {
      margin: 20px 3% 20px 0; }
  .detalle .estadisticas a {
    font-size: 1.5rem;
    color: #fff;
    margin-left: 10%;
    line-height: 200px;
    display: block; }

.graph-caption {
  font-family: "Duplicate Sans Light", sans-serif;
  background: white;
  padding: 1em 1.5em;
  margin: 1em 0;
  width: 100%; }

.c-tab {
  display: none;
  margin: 4em 0; }
  .c-tab.is-active {
    display: block; }

.tabs.no-js .tabs-nav {
  display: none; }

.tabs.no-js .c-tab {
  display: block;
  margin-bottom: 1.5em; }
  .tabs.no-js .c-tab:last-child {
    margin-bottom: 0; }

.tabs-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1em; }
  .tabs-nav > a.is-active:before {
    content: "↓";
    margin-right: 0.75em;
    margin-left: -0.75em; }

.tabs-nav-link {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 1em;
  padding: 0.5em 0 0.65em;
  text-align: center;
  border-radius: 2em;
  position: relative; }
  .tabs-nav-link:last-child {
    margin-right: 0; }

.tabla {
  margin: 2em 0 4em; }
  .tabla.bars .bar {
    background: #d6d6d6;
    width: 90%;
    height: 1em;
    float: right; }
    .tabla.bars .bar > div {
      background: white;
      height: 1em; }
  .tabla.bars .tabla-celda span {
    width: 10%;
    display: inline-block; }

.tabla-cuerpo,
.tabla-pie,
.tabla-fila {
  clear: both; }

.tabla-fila {
  display: flex; }

.tabla-cabeza,
.tabla-celda {
  padding: 1em 1.8%;
  width: 100%; }
  .tabla-cabeza:last-child,
  .tabla-celda:last-child {
    border-right: none; }

.tabla-celda {
  border-right: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  background: white; }

.tabla-cabeza {
  border-right: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  color: white; }

.estadisticas section {
  padding: 1em 5% 1.05em; }

/*tab-fechas*/
.tab-fechas #piechart{
  float: left;
}
table, th, td {
    border: 1px solid #dcdcdc;
    vertical-align: middle;
}
table{
  background: #fff;
  width: 50%;
}
thead{
  color: #fff;
}
table th,
table td{
  padding: 15px;
}
table tr td:first-child{
  font-weight: bold;
}
table span{
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 15px;
  vertical-align: sub;
}

/*tab-personajes*/
.tab-personajes table{
  width: 100%;
}
.tab-lugares #regions_div{
  width: 50% !important;
  float: right;
}
.tab-lugares #regions_div2{
  width: 50% !important;
  float: left;
}
.tab-lugares #regions_div2 > div > div,
.tab-lugares #regions_div > div > div{
  margin: auto;
  width: 100%;
}

/*tab-hemeroteca*/
ul.hemeroteca {
  position: relative;
   }
  ul.hemeroteca li {
    width: 240px;
    max-width: 23%;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    margin-right: 2vh; }
    ul.hemeroteca li .tema, ul.hemeroteca li .fecha, ul.hemeroteca li .seccion {
      padding: 0.5em 0.5em 0.6em;
      margin: 0.5em 0;
      font-size: 0.875em; }
    ul.hemeroteca li .tema {
      background: white;
      height: 40vh;
      font-size: 1.1em;
      line-height: normal;
      padding: 0.5em;
      overflow: hidden;
      min-height: 320px; }
      ul.hemeroteca li .tema .titulo {
        white-space: initial;
        margin-top: 10px; }
      ul.hemeroteca li .tema .imagen {
        height: 220px;
        overflow: hidden; }
        ul.hemeroteca li .tema .imagen img {
          width: 100%; }
      @media (max-height: 500px) {
        ul.hemeroteca li .tema {
          min-height: 210px; }
          ul.hemeroteca li .tema .imagen {
            height: 120px; } }
    ul.hemeroteca li .fecha {
      background: white;
      color: #8c8c8c; }
    ul.hemeroteca li .seccion {
      font-family: "Duplicate Sans Bold"; }
  ul.hemeroteca .tema-anio {
    color: #8c8c8c;
    font-family: "Duplicate Sans Bold";
    text-align: center;
    font-size: 0.875em; }
    ul.hemeroteca .tema-anio:before {
      content: " ";
      background: none;
      width: 2px;
      height: 5vh;
      display: block;
      border-left: 2px dashed #c6c6c6;
      margin: 0.5em auto; }

ul.hemeroteca li .tema.otras{
  min-height: 120px;
  height: 120px;
}

/*detalle hemerotecas*/
.detalle-hemeroteca{
  background: #d9d9d9;
  z-index: 100;
  position: absolute;
  top: 4.5em;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}
.detalle-hemeroteca .hem-head{
  height: 40vh;
  color: #fff;
}
.detalle-hemeroteca .hem-head a{
  color: #fff;
}
.detalle-hemeroteca .hem-info{
  float: right;
  width: 50%;
  margin-top: 2em;
  padding: 0 60px 40px 20px;
}
.detalle-hemeroteca .hem-info .back div{
  padding-left: 2em;
  font-size: 1.25em;
  line-height: 2rem;
}
.detalle-hemeroteca .hem-info .back:before {
  content: " ";
  background: url(../img/nav_arr_bco.svg);
  background-size: cover;
  width: 2em;
  height: 2em;
  position: absolute; 
}
.detalle-hemeroteca h1{
  font-size: 2.5em;
  margin-top: .7em;
  margin-bottom: 20px;
  line-height: 1.3em;
}
.detalle-hemeroteca .hem-img{
  margin-top: -27vh;
  width: 50%;
  float: left;
  padding: 0 20px;
}
.detalle-hemeroteca .hem-content{
  float: right;
  width: 50%;
  padding: 40px 60px 40px 20px;
}
.detalle-hemeroteca .hem-content p{
  margin-bottom: 15px;
}
.detalle-hemeroteca .hem-otras{
  clear: both;
  margin-bottom: 8%;
  padding: 40px 20px;
}
.detalle-hemeroteca .titulo{
  margin-bottom: 10px;
}
/**/

.lista-personajes ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 2em 0 4em;
  counter-reset: item;
  list-style-type: none; }
.lista-personajes li {
  margin: 0 1em 2em;
  background: white;
  width: 14em;
  position: relative; }
  .lista-personajes li::before {
    content: counter(item) "  ";
    counter-increment: item;
    position: absolute;
    width: 2em;
    height: 2em;
    text-align: center;
    padding-top: 0.44em;
    top: 1em;
    left: 1em;
    color: white; }
.lista-personajes .imagen {
  min-height: 3em; }
  .lista-personajes .imagen img {
    width: 100%; }
    .lista-personajes .imagen img[src=""], .lista-personajes .imagen img[src="http://aniversario100.eluniversal.com.mx/"] {
      display: none; }
.lista-personajes .info {
  font-family: "Duplicate Sans Light", sans-serif;
  padding: 1em; }
  .lista-personajes .info .nombre {
    font-size: 1.2em;
    font-family: "Duplicate Sans Regular";
    margin-bottom: 1em; }
.lista-personajes .meta {
  background: white;
  position: absolute;
  bottom: -2.75em;
  width: 100%;
  left: 0;
  padding: 0.5em 1em;
  font-size: 0.75em; }
  .lista-personajes .meta a {
    color: #8c8c8c; }
